<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ghostchu.btn.sparkle.mapper.BanHistoryMapper">
    <resultMap id="sumPeerIpTrafficSummaryDto" type="com.ghostchu.btn.sparkle.service.dto.PeerTrafficSummaryResultDto">
        <result column="peer_ip" property="peerIp"/>
        <result column="sum_to_peer_traffic" property="sumToPeerTraffic"/>
        <result column="sum_from_peer_traffic" property="sumFromPeerTraffic"/>
    </resultMap>
    <select id="sumPeerIpTraffic" resultMap="sumPeerIpTrafficSummaryDto">
        SELECT peer_ip, SUM(to_peer_traffic) AS sum_to_peer_traffic, SUM(from_peer_traffic) AS sum_from_peer_traffic
        FROM ban_history
            WHERE populate_time > #{afterTimestamp} AND peer_ip &lt;&lt;= #{peerIp}::inet
        GROUP BY peer_ip
    </select>
    <select id="selectPeerTorrents" resultType="long">
        SELECT DISTINCT torrent_id AS torrent_count
        FROM ban_history
        WHERE peer_ip &lt;&lt;= #{peerIp}::inet
          AND populate_time >= #{afterTimestamp};
    </select>
    <select id="estimateCountAll" resultType="long">
        SELECT reltuples::bigint AS estimate_count
        FROM pg_class
        WHERE relname = 'ban_history';
    </select>
    <resultMap id="countTimeStatistics" type="com.ghostchu.btn.sparkle.service.dto.UniversalCountDto">
        <result column="days30" property="days30"/>
        <result column="days15" property="days15"/>
        <result column="days7" property="days7"/>
        <result column="days3" property="days3"/>
        <result column="days1" property="days1"/>
    </resultMap>
    <select id="countTimeStatistics" resultMap="countTimeStatistics">
        SELECT
            COUNT(*) FILTER (WHERE populate_time > NOW() - INTERVAL '30 days') AS days30,
            COUNT(*) FILTER (WHERE populate_time > NOW() - INTERVAL '15 days') AS days15,
            COUNT(*) FILTER (WHERE populate_time > NOW() - INTERVAL '7 days') AS days7,
            COUNT(*) FILTER (WHERE populate_time > NOW() - INTERVAL '3 days') AS days3,
            COUNT(*) FILTER (WHERE populate_time > NOW() - INTERVAL '1 days') AS days1
        FROM ban_history;
    </select>
</mapper>
