<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ghostchu.btn.sparkle.mapper.BanHistoryMapper">
    <resultMap id="sumPeerIpTrafficSummaryDto" type="com.ghostchu.btn.sparkle.service.dto.PeerTrafficSummaryResultDto">
        <result column="peer_ip" property="peerIp"/>
        <result column="sum_to_peer_traffic" property="sumToPeerTraffic"/>
        <result column="sum_from_peer_traffic" property="sumFromPeerTraffic"/>
    </resultMap>
    <select id="sumPeerIpTraffic" resultMap="sumPeerIpTrafficSummaryDto">
        SET duckdb.force_execution = true; -- pg_duckdb
        SELECT peer_ip, SUM(to_peer_traffic) AS sum_to_peer_traffic, SUM(from_peer_traffic) AS sum_from_peer_traffic
        FROM ban_history
            WHERE populate_time > #{afterTimestamp} AND peer_ip &lt;&lt;= #{peerIp}::inet
        GROUP BY peer_ip
    </select>
    <select id="selectPeerTorrents" resultType="long">
        SELECT DISTINCT torrent_id AS torrent_count
        FROM ban_history
        WHERE peer_ip &lt;&lt;= #{peerIp}::inet
          AND populate_time >= #{afterTimestamp};
    </select>
    <select id="countAll" resultType="long">
        SELECT COUNT(*) FROM ban_history
    </select>
</mapper>
