<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ghostchu.btn.sparkle.mapper.SwarmTrackerMapper">
    <insert id="upsert" parameterType="com.ghostchu.btn.sparkle.entity.SwarmTracker">
        INSERT INTO swarm_tracker (userapps_id, user_downloader, torrent_id,
                                   peer_ip, user_progress,
                                   peer_port, peer_id, peer_client_name,
                                   peer_progress, from_peer_traffic, to_peer_traffic,
                                   from_peer_traffic_offset, to_peer_traffic_offset, flags,
                                   first_time_seen, last_time_seen)
        VALUES (#{userappsId}, #{userDownloader}, #{torrentId},
                #{peerIp}, #{userProgress},
                #{peerPort}, #{peerId}, #{peerClientName},
                #{peerProgress}, #{fromPeerTraffic}, #{toPeerTraffic},
                #{fromPeerTrafficOffset}, #{toPeerTrafficOffset}, #{flags},
                #{firstTimeSeen}, #{lastTimeSeen})
        ON CONFLICT (userapps_id, user_downloader, torrent_id, peer_ip, peer_port) DO UPDATE
            SET (userapps_id, user_downloader, torrent_id,
                 peer_ip, user_progress,
                 peer_port, peer_id, peer_client_name,
                 peer_progress, from_peer_traffic, to_peer_traffic,
                 from_peer_traffic_offset, to_peer_traffic_offset, flags,
                 first_time_seen, last_time_seen) =
                    (EXCLUDED.userapps_id, EXCLUDED.user_downloader, EXCLUDED.torrent_id,
                     EXCLUDED.peer_ip, EXCLUDED.user_progress,
                     EXCLUDED.peer_port, EXCLUDED.peer_id, EXCLUDED.peer_client_name,
                     EXCLUDED.peer_progress, EXCLUDED.from_peer_traffic, EXCLUDED.to_peer_traffic,
                     EXCLUDED.from_peer_traffic_offset, EXCLUDED.to_peer_traffic_offset, EXCLUDED.flags,
                     EXCLUDED.first_time_seen, EXCLUDED.last_time_seen);
    </insert>

    <insert id="batchUpsert">
        INSERT INTO swarm_tracker (userapps_id, user_downloader, torrent_id,
                                   peer_ip, user_progress,
                                   peer_port, peer_id, peer_client_name,
                                   peer_progress, from_peer_traffic, to_peer_traffic,
                                   from_peer_traffic_offset, to_peer_traffic_offset, flags,
                                   first_time_seen, last_time_seen)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.userappsId}, #{item.userDownloader}, #{item.torrentId},
            #{item.peerIp}, #{item.userProgress},
            #{item.peerPort}, #{item.peerId}, #{item.peerClientName},
            #{item.peerProgress}, #{item.fromPeerTraffic}, #{item.toPeerTraffic},
            #{item.fromPeerTrafficOffset}, #{item.toPeerTrafficOffset}, #{item.flags},
            #{item.firstTimeSeen}, #{item.lastTimeSeen})
        </foreach>
        ON CONFLICT (userapps_id, user_downloader, torrent_id, peer_ip, peer_port) DO UPDATE
            SET user_progress = EXCLUDED.user_progress,
                peer_id = EXCLUDED.peer_id,
                peer_client_name = EXCLUDED.peer_client_name,
                peer_progress = EXCLUDED.peer_progress,
                from_peer_traffic = EXCLUDED.from_peer_traffic,
                to_peer_traffic = EXCLUDED.to_peer_traffic,
                from_peer_traffic_offset = EXCLUDED.from_peer_traffic_offset,
                to_peer_traffic_offset = EXCLUDED.to_peer_traffic_offset,
                flags = EXCLUDED.flags,
                first_time_seen = EXCLUDED.first_time_seen,
                last_time_seen = EXCLUDED.last_time_seen
    </insert>

    <select id="calcPeerConcurrentDownloads" resultType="long">
        SELECT COUNT(DISTINCT torrent_id) AS concurrent_downloads
        FROM swarm_tracker
        WHERE peer_ip &lt;&lt;= #{peerIp}::inet
          AND last_time_seen >= #{afterTimestamp}
          AND 1.0 > peer_progress;
    </select>

    <resultMap id="sumPeerIpTrafficResultDto" type="com.ghostchu.btn.sparkle.service.dto.PeerTrafficSummaryResultDto">
        <result column="peer_ip" property="peerIp"/>
        <result column="sum_to_peer_traffic" property="sumToPeerTraffic"/>
        <result column="sum_from_peer_traffic" property="sumFromPeerTraffic"/>
    </resultMap>

    <select id="sumPeerIpTraffic" resultMap="sumPeerIpTrafficResultDto">
        SELECT peer_ip, SUM(to_peer_traffic) AS sum_to_peer_traffic, SUM(from_peer_traffic) AS sum_from_peer_traffic FROM swarm_tracker
        WHERE peer_ip &lt;&lt;= #{peerIp}::inet
          AND last_time_seen >= #{afterTimestamp}
        GROUP BY peer_ip;
    </select>

    <select id="selectPeerTorrents" resultType="long">
        SELECT DISTINCT torrent_id AS torrent_count
        FROM swarm_tracker
        WHERE peer_ip &lt;&lt;= #{peerIp}::inet
          AND last_time_seen >= #{afterTimestamp};
    </select>

    <select id="countAll" resultType="long">
        SELECT COUNT(*) FROM swarm_tracker
    </select>

    <select id="fetchSwarmTrackerByIpInTimeRange" resultMap="userSwarmStatisticByUserAppResult">
        SELECT
            SUM(to_peer_traffic) AS sentTraffic,
            SUM(from_peer_traffic) AS receivedTraffic
        FROM swarm_tracker
        WHERE
            peer_ip &lt;&lt;= #{peerIp}::inet
            AND first_time_seen &gt;= #{startAt}
            AND last_time_seen &lt;= #{endAt}
    </select>

    <resultMap id="userSwarmStatisticByUserAppResult" type="com.ghostchu.btn.sparkle.mapper.customresult.UserSwarmStatisticTrafficResult">
        <result column="sentTraffic" property="sentTraffic"/>
        <result column="receivedTraffic" property="receivedTraffic"/>
    </resultMap>

    <select id="fetchSwarmTrackerByUserAppsInTimeRange" resultMap="userSwarmStatisticByUserAppResult">
        SELECT
            SUM(to_peer_traffic) AS sentTraffic,
            SUM(from_peer_traffic) AS receivedTraffic
        FROM swarm_tracker
        WHERE
            userapps_id = #{userAppId}
            AND first_time_seen &gt;= #{startAt}
            AND last_time_seen &lt;= #{endAt}
    </select>

    <select id="selectExpiredSwarmTracker" resultType="com.ghostchu.btn.sparkle.entity.SwarmTracker">
        SELECT * FROM swarm_tracker WHERE last_time_seen &lt; #{expiredTime}
    </select>

    <select id="estimateCountAll" resultType="long">
        SELECT reltuples::bigint AS estimate_count
        FROM pg_class
        WHERE relname = 'ban_history';
    </select>
    <resultMap id="countTimeStatistics" type="com.ghostchu.btn.sparkle.service.dto.UniversalCountDto">
        <result column="days30" property="days30"/>
        <result column="days15" property="days15"/>
        <result column="days7" property="days7"/>
        <result column="days3" property="days3"/>
        <result column="days1" property="days1"/>
    </resultMap>
    <select id="countTimeStatistics" resultMap="countTimeStatistics">
        SELECT
            COUNT(*) FILTER (WHERE last_time_seen > NOW() - INTERVAL '30 days') AS days30,
            COUNT(*) FILTER (WHERE last_time_seen > NOW() - INTERVAL '15 days') AS days15,
            COUNT(*) FILTER (WHERE last_time_seen > NOW() - INTERVAL '7 days') AS days7,
            COUNT(*) FILTER (WHERE last_time_seen > NOW() - INTERVAL '3 days') AS days3,
            COUNT(*) FILTER (WHERE last_time_seen > NOW() - INTERVAL '1 days') AS days1
        FROM swarm_tracker;
    </select>
</mapper>
