<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ghostchu.btn.sparkle.mapper.UserMapper">
    <select id="fetchAllUsers" resultType="com.ghostchu.btn.sparkle.entity.User" fetchSize="100">
        SELECT * FROM "user"
    </select>
    <select id="fetchAllUserIds" resultType="long" fetchSize="100">
        SELECT id FROM "user"
    </select>
</mapper>
