<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ghostchu.btn.sparkle.mapper.UserappsArchivedStatisticMapper">
    <insert id="updateArchivedStatistic" parameterType="com.ghostchu.btn.sparkle.entity.UserappsArchivedStatistic">
        INSERT INTO userapps_archived_statistic (userapp_id, archived_to_peer_traffic, archived_from_peer_traffic,
                                                 archived_ban_history_records, archived_swarm_tracker_records,
                                                 last_update_at)
        VALUES (#{userAppId}, #{archivedToPeerTraffic}, #{archivedFromPeerTraffic},
                #{archivedBanHistoryRecords}, #{archivedSwarmTrackerRecords}, #{lastUpdateAt})
        ON CONFLICT (userapp_id) DO UPDATE
            SET (archived_to_peer_traffic, archived_from_peer_traffic,
                 archived_ban_history_records, archived_swarm_tracker_records,
                 last_update_at) =
                    (archived_to_peer_traffic + EXCLUDED.archived_to_peer_traffic,
                     archived_from_peer_traffic + EXCLUDED.archived_from_peer_traffic,
                     archived_ban_history_records + EXCLUDED.archived_ban_history_records,
                     archived_swarm_tracker_records + EXCLUDED.archived_swarm_tracker_records,
                     EXCLUDED.last_update_at);
    </insert>
</mapper>
