<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ghostchu.btn.sparkle.mapper.UserRelMapper">
    <select id="findUserRelByPlatformUserId" resultType="com.ghostchu.btn.sparkle.entity.UserRel">
        SELECT *
        FROM user_rel
        WHERE platform = #{platform}
          AND platform_user_id = #{platformUserId}
        LIMIT 1
    </select>
</mapper>
