name: Gradle Build

on:
  workflow_call:
jobs:
  Gradle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "25"
          cache: 'gradle'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew clean build --no-daemon
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: gradle-dist
          path: |
            build/libs/*.jar
        id: project